*
{
    /* outline: 1px solid red; */
}

body {
    background-color: #D9D9D9;
}

.Home-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .Home-container h1
    {
        text-align: center;
        font-size: 48px;
    }
    .Home-container .btn-info {
        background-color: white;
        box-shadow: 4px 4px 4px 0 #00000040;
        border-color: #d9d9d900;
        border-radius: 5px;
        width: 178px;
        height: 56px;
        font-weight: 900;
    }
    .Home-container .btn-info:hover {
        background-color: aliceblue;
        box-shadow: 4px 4px 16px 0 #00000040;
        
    }

#btn-user
{
    margin-right: 90px;
}
#admin-user
{
    margin-left: 90px;

}

.createUserForm
{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

    .createUserForm input
    {
        width: 200px;
        height: 30px;
        border-radius: 5px;
    }
    .createUserForm input[type="text"]::placeholder
    {
        padding-left: 20px;
    }
    .createUserForm button
    {
        background-color: #5E5BFF;
        border-radius: 5px;
        color: white;
    }


.Table-container
{
    margin: 60px auto 0 auto;
    border-collapse: collapse;
    border-radius: 15px;


}
    .Table-container th, .Table-container td
    {
        width: 200px;
        height: 36px;
    }

    .Table-container th
    {
        border: 1px solid;
        background-color: #b9b9b900;
    }

    .Table-container td
    {
        border: 1px solid;
        text-align: center;
        background-color: white;
    }
    .Table-container button
    {
        color: red;
    }

